# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/
app/build
out

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr